@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');


#homebody{
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    color: #59564e;
    line-height: 35px;
    background: rgb(240, 224, 207);
}


#logo, #nav {
    display: none;
}



#header {
    margin-left: 25px;
    padding-top: 25px;
}

#homebody, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),*/
    background-image: url('');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#musicbg {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),*/
    background-image: url('img/meditation.jpeg');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    /*box-shadow:-10px 0px 25px #404040;*/
}

#musicmain div {
    height: 100vh;
    position: relative;
}

#musicmain iframe {
    margin: 0;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) 
}

.musictype{
    color: rgb(26, 46, 59);
    line-height: 45px;
    font-size: 50px;
    width: 100%;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 15%;
    letter-spacing: -1px;
}

.musicdes{
    color: rgb(26, 46, 59);
    line-height: 1.5em;
    font-weight: 100;
    font-style: normal;
    font-family: Montserrat;
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 70%;
    letter-spacing: -1px;
}
#travelbg {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /*linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),*/
    background-image: url('img/sunshine.jpg');

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    box-shadow:-10px 0px 25px #404040;
}
/* Place text in the middle of the image */
.hero-text{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    color: white;
}

#start{
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid rgb(248, 201, 47);
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
#start:hover {
    background: rgb(248, 201, 47);
}

#header {
    width: 100%;
}

#homebody #header {
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
    margin-left: 0;
    color: inherit;
    font-size: 1em;
    left: 0;
    padding: 0.5em 1.5em;
    position: fixed;
    top: 0;
    display: block;
    z-index: 1;
}

#header.ctrl{
    width:100%;
}

#header h1 {
    font-weight: 900;
    margin: 0;
}

#header h1 a {
    text-decoration: none;
    color: inherit;
}
#logo {
    display: inline;
    margin-top: 0;
}
.logoPic {
    width: 130px;
    height: 65px;
}
#header nav {
    letter-spacing: 0.075em;
    position: absolute;
    right: 1.5em;
    text-transform: uppercase;
    top: 1.5em;
    display: block;
}

#header nav ul {
    list-style: none;
    padding-left: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1.5em;
    padding-left: 0;
}



#header nav ul li a {
    border: solid 1px transparent;
    color: inherit;
    display: inline-block;
    line-height: 1em;
    padding: 0.6em 0.75em;
    text-decoration: none;
}


#header nav ul li .button {
    font-size: 1em;
    min-width: 0;
    width: auto;
}

#header nav ul li.active > a, #header nav ul li:hover > a, #header nav ul li a:focus {
    background: rgba(188, 202, 206, 0.15);
}

#header nav ul li.current > a {
    font-weight: 900;
}

#weather {
    width: 100%;
    height: 100%;
}

#loc {
    padding-top: 20%;
    text-align: center;
}

#temp {
    padding-top: 10%;
    text-align: center;
}

#description {
    padding-top: 10%;
    text-align: center;
}

.video-custom .title {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.55);
    bottom: 0;
    color: #ffffff;
    font-family: 'Google Sans', Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: .1rem;
    position: absolute;
    width: 100%;
}

.video-custom {
    border-top: .0625rem dashed #dadce0;
}

.video-custom svg {
    fill: #d93025;
    height: 4rem;
    left: 50%;
    margin: -2rem 0 0 -2rem;
    opacity: .7;
    position: absolute;
    top: 50%;
    transform: scale(.95,.82);
    transition: opacity 400ms;
    width: 4rem;
    z-index: 1;
}

.video-custom a {
    background-size: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.25) 0 0 .625rem;
    display: block;
    height: 7.8125rem;
    margin: 1em 0 1em 1em;
    position: relative;
    width: 13.875rem;
}

